# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lo

# Figures
###################
*.png
*.eps

# ROOT files
###################
*.root
*.pcm

# Directories
###################
*/fig_png/*
*/fig_C/*
*/.deps/*
*/.libs/*
m4/*

#Automaticaly created
##################
config*
*/Makefile
Makefile*
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
*/test
*/DictCint.cxx
src/libRootAnalysis.la
HTTAnalysis/httAnalysis
HTTAnalysis/.wscode.5f58a432-033a-11e7-9717-45a8a983beef.w/
